*,
:before,
:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  align-items: stretch;
  overflow: hidden;

  >* {
    height: 100vh;
    height: 100dvh;
  }

  >section {
    width: 50%;
    overflow: auto;
  }

  >aside {
    flex: 1;
    overflow: auto;
  }
}

.color-root {
  position: relative;

  >canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    inset: 0;
    z-index: -1;
  }
}

button {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
}